.replay__controls .playback-speed {
	display: table-cell;
	width: 70px;
	vertical-align: middle;
}

.additional-controls {
	color: black;
	position: absolute;
	padding: 10px;
	z-index: 2;
}

.additional-controls label {
	display: block;
}