.board {
	text-align: center;
	position: relative;
	height: 34%;
	display: flex;
    justify-content: center;


	.game-card {
		display: inline-block;
		margin-right: 3%;
		border: none;
	    width: 10%;
		background: transparent;

	    &::before {
		    content: "";
		    padding-top: 128%;
		    position: relative;
		    display: block;
	    }

		.art {
		    // height: 100%;
		    width: 97%;
		    position: absolute;
		    left: 0;
		    top: 0;
		    background-size: contain;
		    background-size: 235% auto;
    		background-position: 46% 25%;
			border-radius: ~"75px / 100px";

			&::before {
			    content: "";
			    padding-top: 128%;
			    position: relative;
			    display: block;
		    }

		    &.msg-card {
		    	background-position: 49% 15%;
		    }
		}

		.frame.minion {
		    display: block;
		    position: absolute;
			// background: url(images/card_border.png) center center no-repeat;
		 //    width: 120%;
		 //    top: -5%;
		 //    left: -15%;

			background: url(images/inplay_minion.png) center center no-repeat;
		    width: 160%;
		    top: -25%;
		    left: -32%;

		    background-size: contain;
			&::before {
			    content: "";
			    padding-top: 128%;
			    position: relative;
			    display: block;
		    }
		}

	    .legendary {
	    	background: url(images/inplay_minion_legendary.png) center center no-repeat;
		    width: 120%;
		    height: 120%;
		    position: absolute;
		    top: -20%;
		    left: -5%;
		    background-size: contain;

	    }

		.taunt::before {
			content: "";
    		padding-top: 128%;
		    height: 170%;
		    width: 170%;
		    background: url(images/minion_taunt.png) center center no-repeat;
		    background-size: contain;
		    position: absolute;
		    top: -29%;
		    left: -38%;
		}


		// .frame.minion.card--taunt.option-on::before {
		// 	border-top-left-radius: 25%;
		// 	border-top-right-radius: 25%;
		// }

		&:last-child {
			margin-right: 0;
		}

		// .option-on {
		// 	content: "";
		//     border: 0.25em solid @innerGlow; //#31C331;
		//     position: absolute;
		//     top: 0;
		//     bottom: 0;
		//     left: 0;
		//     right: 0;
		//     border-radius: 50%;
		// }

		.option-on {
			// background-image: url(images/card_border_noshadow.png);
			// background-image: url(images/inplay_minion.png);
			-webkit-filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow)
							drop-shadow(@glowSize @glowSize 1px @innerGlow)
							drop-shadow(-@glowSize @glowSize 1px @innerGlow)
							drop-shadow(@glowSize -@glowSize 1px @innerGlow)
							drop-shadow(0px 0px 0.5em @outerGlow)
							drop-shadow(0px 0px 0.8em @outerGlow);
			filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow)
					drop-shadow(@glowSize @glowSize 1px @innerGlow)
					drop-shadow(-@glowSize @glowSize 1px @innerGlow)
					drop-shadow(@glowSize -@glowSize 1px @innerGlow)
					drop-shadow(0px 0px 0.5em @outerGlow)
					drop-shadow(0px 0px 0.8em @outerGlow);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			// &.legendary {
			// 	// background-image: url(images/card_border_noshadow_legendary.png);
			//     width: 157%;
			//     top: -20%;
			//     left: -26%;
			//     height: 142%;

			//     &.taunt::before {
			// 	    padding-top: 0;
			// 	    width: 71%;
			// 	    left: 7%;
			// 	}
			// }

		}

		.card__stats {

			.card__stats__attack {
				width: 45%;
			    bottom: 4%;
			    left: -6%;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.6em;
					font-size: 1.1em;
				}
			}

			.card__stats__health {
				width: 45%;
			    bottom: 2%;
			    left: 58%;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.4em;
					font-size: 1.1em;
				}
			}
		}


		.overlay {
			opacity: 0.5;
			border-radius: 50%;
			border-radius: 50%;
			position: absolute;
			left: -5%;
			top: -5%;
			width: 110%;
			height: 110%;

			&.divine-shield {
				background-color: #DEDEB4;
			    background: url(images/minion_divine_shield.png) center center no-repeat;
			    background-size: contain;
			    height: 160%;
			    width: 210%;
			    // position: absolute;
			    left: -57%;
			    top: -23%;
			    opacity: 0.8;
			}

			&.immune {
				background-color: #DEDEB4;
			    background: url(images/minion_immune.png) center center no-repeat;
			    background-size: contain;
			    height: 160%;
			    width: 210%;
			    // position: absolute;
			    left: -57%;
			    top: -23%;
			    opacity: 0.8;
			}

			&.silenced {
				background-color: #DBB4DE;
				opacity: 0.7;
			}

			&.frozen {
				background-color: #66A8CE;
			    background: url(images/minion_frozen.png) center center no-repeat;
			    background-size: contain;
			    height: 160%;
			    height: 140%;
			    width: 160%;
			    // position: absolute;
			    left: -27%;
			    top: -23%;
			}

			&.stealth {
				background-color: gray;
				opacity: 0.7;
			}

			&.elusive {
			    background-color: #88881a;
			    opacity: 0.5;
			}

			&.windfury {
			    background: url(images/minion_windfury.png) center center no-repeat;
			    background-size: contain;
			    width: 80%;
			    height: 80%;
			    left: 14%;
			    top: 15%;
			    opacity: 0.6;
			}

			&.temporary {
			    background: url(images/minion_temporary_effect.png) center center no-repeat;
			    background-size: 120%;
			    height: 100%;
			    width: 100%;
			    // position: absolute;
			    left: 0;
			    top: 0;
			    opacity: 1;
			}
		}

		.damage {
			font-size: 1.2em;
			line-height: 5.5em;
		}

		.exhausted {
			background: url(images/exhausted.png) top right no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			right: -15px;
			top: -15px;
		}

		.effect {
			position: absolute;
		    width: 100%;
		    height: 45%;
		    background-size: contain;
		    background-position: center;
		    background-repeat: no-repeat;
		    bottom: -20%;
		    left: 0;

			&.deathrattle {
				background-image: url(images/icon_deathrattle.png);
			}
			&.insptire {
				background-image: url(images/icon_inspire.png);
			}
			&.poisonous {
				background-image: url(images/icon_poisonous.png);
			}
			&.lifesteal {
				background-image: url(images/icon_lifesteal.png);
			}
			&.trigger {
				background-image: url(images/icon_trigger.png);
			}
		}
	}

	.golden {
		.frame.minion {
			background-image: url(images/golden/inplay_minion_premium.png);
		}

	    .legendary {
	    	background-image: url(images/golden/inplay_minion_legendary_premium.png);
	    }

		.taunt::before {
		    background-image: url(images/golden/minion_taunt.png);
		    top: -35%;
		}
	}
}

.top .board {
    align-items: flex-end;
    padding-bottom: 2%;
}

.bottom .board {
    align-items: flex-start;
    padding-top: 1%;
}
