.board {
	text-align: center;
	position: relative;
	left: 0;
	width: 100%;
	height: 78px;

	top: 10px;

	.game-card {
		display: inline-block;
		margin-right: 20px;
		// transition: transform 0.25s, top 0.5s;
		border: none;
	    width: 70px;
	    height: 90px;
		border-radius: ~"75px / 100px";
		background: transparent;

		.art {
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		    background-size: contain;
		    background-size: 235% auto !important;
		    background-position: -47px -37px !important;
			border-radius: ~"75px / 100px";
		}

		.frame.minion {
			background: url(images/card_border.png) center center no-repeat;
		    background-size: contain;
		    width: 120%;
		    height: 120%;
		    display: block;
		    position: absolute;
		    top: -5%;
		    left: -15%;
		}

	    .legendary {
	    	background: url(images/minion_legendary.png) center center no-repeat;
		    width: 120%;
		    height: 120%;
		    position: absolute;
		    top: -20%;
		    left: -5%;
		    background-size: contain;

	    }

		.frame.minion.card--taunt::before {
		    background: url(images/minion-taunting.png) center center no-repeat;
		    background-size: contain;
		}

		.frame.minion.card--taunt.option-on::before {
			border-top-left-radius: 25%;
			border-top-right-radius: 25%;
		}

		&:last-child {
			margin-right: 0;
		}

		.option-on {
			content: "";
		    border: 3px solid #31C331;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    border-radius: 50%;
		}



		.overlay {
			opacity: 0.5;
			border-radius: 50%;
			border-radius: 50%;
			position: relative;
			left: -5%;
			top: -5%;
			width: 110%;
			height: 110%;

			&.divine-shield {
				background-color: #DEDEB4;
			}

			&.silenced {
				background-color: #DBB4DE;
			}

			&.frozen {
				background-color: #66A8CE;
			}

			&.stealth {
				background-color: gray;
			}
		}

		.damage {
			position: absolute;
			font-size: 1.5em;
			z-index: 1;
			color: rgba(255, 255, 255, 1);
			width: 100%;
			height: 100%;
			line-height: 100%;
			left: 29px;
			top: 0;
		}

		.exhausted {
			background: url(images/exhausted.png) top right no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			right: -15px;
			top: -15px;
		}

		.effect {
			background-size: contain;
			position: absolute;
		    width: 40px;
		    height: 40px;
		    background-size: contain;
		    bottom: -12px;
		    left: ~"calc(50% - 20px)";

			&.deathrattle {
				background-image: url(images/icon_deathrattle.png);
			}
			&.insptire {
				background: url(images/icon_inspire.png);
			}
			&.poisonous {
				background: url(images/icon_poisonous.png);
			}
			&.trigger {
				background: url(images/icon_trigger.png);
			}
		}
	}
}

.top .board {
	top: 225px;
}

.bottom .board {
	top: -6px;
}