.overlay .common {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;

	.fatigue {
		width: 35%;
		margin: auto;
		background: url(http://static.zerotoheroes.com/hearthstone/asset/manastorm/fatigue.png) center center no-repeat;
		background-size: contain;
		position: relative;

		&:before {
			content: "";
			padding-top: 159%;
			position: relative;
			display: block;
		}

		.text {
		    color: black;
		    position: absolute;
		    top: 65%;
		    width: 100%;
		    text-align: center;
		    display: block;
		    font-weight: bold;
		    padding-left: 25%;
		    padding-right: 25%;
		}
	}

	.overdraw {
		width: 100%;
		margin: auto;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;

		.burnt-cards {
			display: flex;
			justify-content: center;
		}

		.rendered-card {
			width: 25%;
		}

		.burnt:after {
			content: "";
			position: absolute;
		    top: 8%;
		    bottom: 6%;
		    left: 6%;
		    right: 10%;
			background: url(http://static.zerotoheroes.com/hearthstone/asset/manastorm/mulligan_discard.png) top left no-repeat;
			background-size: contain;
			// content: "X";
			// font-size: 15em;
			// color: red;
			// line-height: 1.1em;
			// text-align: center;
			// opacity: 0.5;
		}

		.text {
		    color: black;
		    text-align: center;
		    display: block;
		    font-weight: bold;
     		font-size: 1.2em;
		}
	}
}
