.discover-container {
	position: absolute;
	height: 200%;
	width: 100%;
	top: -100%;
	// background-color: rgba(255, 255, 255, 0.3);
	// z-index: 25;
}

.discover {
	text-align: center;
	top: 25%;
	position: absolute;
	width: 100%;
	z-index: 25;
	display: flex;
	justify-content: center;

	.game-card {
		position: relative;
    	width: 28%;
		// margin-right: 20px;
		// transition: transform 0.25s, top 0.5s;
		// width: 180px;
		// height: 310px;
		// background-size: 100% auto;

	    &::before {
		    content: "";
		    padding-top: 148%;
		    position: relative;
		    display: block; 	
	    }	

		.art {
			&::before {
			    content: "";
			    padding-top: 148%;
			    position: relative;
			    display: block; 	
		    }

			&.quick-fix {
			    top: 2%;
			    width: 105%;
			    left: -1%;
			}
		}

		.art.card--unknown {
   	 		width: 80%;
    		margin-left: 10%;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.picked::after {
	    position: absolute;
	    top: 15%;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    color: green;
	    opacity: 0.7;
	    font-size: 5em;
	    line-height: 3em;
	    text-align: center;

	    font-family: 'Glyphicons Halflings';
	    content: "\e013";
	}

	// .card--unknown {
	// 	background-size: 75% auto;
	// 	margin-right: 0;
	// }

	// .discarded:after {
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// 	content: "X";
	// 	font-size: 10em;
	// 	color: red;
	// 	line-height: 1.1em;
	// 	text-align: center;
	// 	opacity: 0.5;
	// }
}

.top .discover-container {
	top: auto;
	bottom: -100%;
}