.game-log {
	display: block;
	border: none;
	// background: #5F3F21 50% 50% repeat; /*DDB570*/
	// background: 50% 50% #68471f;
	// height: 50px;
	// padding-left: 5%;
 //    padding-right: 8px;
	// padding-top: 1%;
	// color: white;
	position: relative;
	height: 7%;
	height: 30px;
	line-height: 0.1em;
	overflow: hidden;
	// font-size: ~"max(1em, 12px)";
	display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-top: 8px;
    background-color: rgba(0,0,0,.1);


	background-color: transparent; /* moving the bg to the <p> */
	justify-content: center;
	align-items: flex-start;
	height: auto; /*or remove 7%*/
	min-height: 38px;

    // .btn {
    //  	display: none;
    // }

	p {
		// margin-top: 1%;
		// width: 70%;
		text-align: center;
 		font-size: 14px;
 		font-weight: bold;
 	    padding: 5px;
 		color: black;
	    margin-top: auto;
	    margin-bottom: auto;
	    flex-grow: 1;

	    margin: 0;
	    font-size: 13px;
	    line-height: 1.4;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	// .span {
	// 	margin-left: 5;
	// }

	button {
		// position: absolute;
		// right: 1%;
		// top: 5%;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	align-self: center;
	}

	.discovered-card {
		margin-right: 10px;
	}
}

@media screen and (max-width: 600px) {
	.game-log {
	    font-size: 12px;
		
		button {
	    	display: none;
	    }

	    p {
	    	width: 100%;
	    }
	}
}