.hand {
	text-align: center;
	height: 25%;
	width: 70%;
	text-align: right;
	position: relative;

	height: 33%;

	& > div {
	    position: absolute;
	    bottom: 0;
	    height: 400%;
	    width: 100%;
	    display: flex;
	    align-items: flex-end;
	    justify-content: flex-end;
	}

	.game-card {
		display: inline-block;
		width: 20%;
		// top: 0;
		// position: relative;
		background: transparent;

		&::before {
			content: "";
			padding-top: 148%;
			position: relative;
			display: block;
		}

		.art {
			height: auto;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-size: contain;

			&.card--unknown {
				background: url(images/cardback.png) top left no-repeat;
				background-size: contain;
				height: 94%;
				width: 94%;
			}

			&.img-option-on {
				-webkit-filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow)
								drop-shadow(@glowSize @glowSize 1px @innerGlow)
								drop-shadow(-@glowSize @glowSize 1px @innerGlow)
								drop-shadow(@glowSize -@glowSize 1px @innerGlow)
								drop-shadow(0px 0px 0.5em @outerGlow)
								drop-shadow(0px 0px 0.8em @outerGlow);
				filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow)
						drop-shadow(@glowSize @glowSize 1px @innerGlow)
						drop-shadow(-@glowSize @glowSize 1px @innerGlow)
						drop-shadow(@glowSize -@glowSize 1px @innerGlow)
						drop-shadow(0px 0px 0.5em @outerGlow)
						drop-shadow(0px 0px 0.8em @outerGlow);

				&.combo {
					-webkit-filter: drop-shadow(-@glowSize -@glowSize 1px @innerComboGlow)
								drop-shadow(@glowSize @glowSize 1px @innerComboGlow)
								drop-shadow(-@glowSize @glowSize 1px @innerComboGlow)
								drop-shadow(@glowSize -@glowSize 1px @innerComboGlow)
								drop-shadow(0px 0px 0.5em @outerComboGlow)
								drop-shadow(0px 0px 0.8em @outerComboGlow);
					filter: drop-shadow(-@glowSize -@glowSize 1px @innerComboGlow)
							drop-shadow(@glowSize @glowSize 1px @innerComboGlow)
							drop-shadow(-@glowSize @glowSize 1px @innerComboGlow)
							drop-shadow(@glowSize -@glowSize 1px @innerComboGlow)
							drop-shadow(0px 0px 0.5em @outerComboGlow)
							drop-shadow(0px 0px 0.8em @outerComboGlow);
				}
			}

			&.msg-card {
			    top: 2%;
			    width: 105%;
			    left: -1%;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		.card-cost {
			background: url(images/mana.png) center center no-repeat;
			background-size: contain;
			width: 24%;
			position: absolute;
			font-size: 1.3em;
			color: white;
			font-weight: bold;
			text-align: center;
			line-height: 22px;
			top: 13%;
			left: 3%;
			color: white;
			cursor: default;
			// Outline text, cf http://stackoverflow.com/questions/4919076/outline-effect-to-text
			text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;

			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block;
			}

			span {
				position: absolute;
				top: 0;
				display: inline-block;
				text-align: center;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 1em;
			}

			&.lower-cost {
				color: #31C331;
			}

			&.higher-cost {
				color: red;
			}
		}

		.card__stats {

			.card__stats__attack {
				width: 33%;
				bottom: 1%;
				background: url(images/attack.png) center center no-repeat;
    			background-size: contain;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.6em;
					font-size: 1.1em;
				}
			}

			.card__stats__health {
				width: 33%;
				bottom: 1%;
				left: 68%;
				background: url(images/health_new.png) center center no-repeat;
    			background-size: contain;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.4em;
					font-size: 1.1em;
				}
			}
		}

		.transformed-from-card {
			background-image: url(images/trigger_visual.png);
			background-size: cover;
		    position: absolute;
		    top: 6%;
		    width: 100%;
		    height: 100%;
		    opacity: 0.8;
		}

	}

	.rendered-card {

		& > div {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}

		.art {
			background-size: inherit;
		    width: 80%;
		    position: absolute;
		    left: 10%;
		    top: 5%;
		}

		&.minion .art {
    		clip-path: ellipse(45% 43% at 52% 49%);
		}

		&.spell .art {
		    clip-path: inset(6% 1% 20% -3%);
		    width: 70%;
		    left: 17%;
		    top: 12%;
    	}

		.frame {
		    width: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		}

		.card-cost {
			top: 8%;
			left: 1%;
		}

		.name-banner {
			width: 76%;
		    position: absolute;
		    top: 47%;
		    left: 13%;
		}

		.name-text {
			position: absolute;
		    width: 76%;
		    height: 10%;
		    left: 14%;
		    top: 49%;
		    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		    font-size: 0.4em;
		    color: white;
		}

		text {
			font-size: 2.7em;
		    fill: #d4d4d4;
		    font-weight: bold;
		}

		.rarity {
		    position: absolute;
		    width: 20%;
		    top: 52%;
		    left: 41%;
		}

		.card-text {
		    position: absolute;
		    color: black;
		    width: 61%;
		    left: 21%;
		    height: 21%;
		    top: 66%;
		    font-size: 0.4em;
		    text-align: center;
		    font-weight: 500;
		    overflow: hidden;
		    display: flex;

		    p {
		    	margin: auto;
		    }
		}

		.race {
		    position: absolute;
		    width: 100%;
		    height: 10%;
		    bottom: 0;

		    p {
				text-transform: capitalize;
			}
		}
	}

	// Temporary fix for DK cards that have been ripped differently, until we move to custom card rendered
	.game-card.hero-card {
		.art {
			top: -6%;
			left: -4%;
		}
	}

}

.bottom .hand {
	top: auto;

	& > div {
	    align-items: flex-start;
	    bottom: auto;
	    top: 0;
	}


	.game-card {
		// transform: translateY(-15%);
	}

	div.art {
		display: none;
	}
	img {
		display: block;
	}
}

.top .hand {

	.game-card {
		// transform: translateY(-15%);
	}

	.card__stats {
		display: none;
	}

	.visible {

		div.art {
			display: none;
		}
		img {
			display: block;
		}
		.card__stats {
			display: block;
		}
	}
}
