.hand {
	text-align: center;
	height: 25%;
	width: 70%;
	text-align: right;

	height: 33%;

	.game-card {
		display: inline-block;
		width: 20%;
		top: 0;
		position: relative;
		background: transparent;

		&::before {
			content: "";
			padding-top: 148%;
			position: relative;
			display: block; 	
		}	

		.art {
			height: auto;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-size: contain;

			&.card--unknown {
				background: url(images/cardback.png) top left no-repeat;
				background-size: contain;
				height: 94%;
				width: 94%;
			}

			&.img-option-on {
				-webkit-filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow) 
								drop-shadow(@glowSize @glowSize 1px @innerGlow) 
								drop-shadow(-@glowSize @glowSize 1px @innerGlow) 
								drop-shadow(@glowSize -@glowSize 1px @innerGlow) 
								drop-shadow(0px 0px 6px @outerGlow) 
								drop-shadow(0px 0px 10px @outerGlow);
				filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow) 
						drop-shadow(@glowSize @glowSize 1px @innerGlow) 
						drop-shadow(-@glowSize @glowSize 1px @innerGlow) 
						drop-shadow(@glowSize -@glowSize 1px @innerGlow) 
						drop-shadow(0px 0px 6px @outerGlow) 
						drop-shadow(0px 0px 10px @outerGlow);

				&.combo {
					-webkit-filter: drop-shadow(-@glowSize -@glowSize 1px @innerComboGlow) 
								drop-shadow(@glowSize @glowSize 1px @innerComboGlow) 
								drop-shadow(-@glowSize @glowSize 1px @innerComboGlow) 
								drop-shadow(@glowSize -@glowSize 1px @innerComboGlow) 
								drop-shadow(0px 0px 6px @outerComboGlow) 
								drop-shadow(0px 0px 10px @outerComboGlow);
					filter: drop-shadow(-@glowSize -@glowSize 1px @innerComboGlow) 
							drop-shadow(@glowSize @glowSize 1px @innerComboGlow) 
							drop-shadow(-@glowSize @glowSize 1px @innerComboGlow) 
							drop-shadow(@glowSize -@glowSize 1px @innerComboGlow) 
							drop-shadow(0px 0px 6px @outerComboGlow) 
							drop-shadow(0px 0px 10px @outerComboGlow);
				}
			}
		}

		&:last-child {
			margin-right: 0;
		}

		.card-cost {
			background: url(images/mana.png) center center no-repeat;
			background-size: contain;
			width: 24%;
			position: absolute;
			font-size: 1.3em;
			color: white;
			font-weight: bold;
			text-align: center;
			line-height: 22px;
			top: 13%;
			left: 3%;
			color: white;
			cursor: default;
			// Outline text, cf http://stackoverflow.com/questions/4919076/outline-effect-to-text
			text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;

			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block;
			}	

			span {
				position: absolute;
				top: 0;
				display: inline-block;
				text-align: center;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 1.2em;
			}

			&.lower-cost {
				color: #31C331;
			}

			&.higher-cost {
				color: red;
			}
		}

		.card__stats {

			.card__stats__attack {
				width: 33%;
				bottom: 1%;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.6em;
					font-size: 1.1em;
				}
			}

			.card__stats__health {
				width: 33%;
				bottom: 1%;
				left: 68%;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.4em;
					font-size: 1.1em;
				}
			}
		}
		
	}

}

.bottom .hand {
	top: auto;


	.game-card {
		transform: translateY(-15%);
	}

	div.art {
		display: none;
	}
	img {
		display: block;
	}
}

.top .hand {

	.game-card {
		transform: translateY(-15%);
	}

	.card__stats {
		display: none;
	}

	.visible {

		div.art {
			display: none;
		}
		img {
			display: block;
		}
		.card__stats {
			display: block;
		}
	}
}