.hero {
	text-align: center;
	position: relative;
	// flex: 1;
	width: 50%;
	height: 40%;
	margin: auto;
	display: flex; 

	height: 33%;
	margin-top: 0;
	margin-bottom: 0;

	.game-card {
		display: inline-block;
		border-radius: 50%;
		background-size: 200% auto;

		&:last-child {
			margin-right: 0;
		}
	}

	.power-container {
		position: relative;
		width: 35%;
		height: auto;
		align-self: flex-end;
		margin-bottom: 3%;	
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	.power {
		position: relative;
		width: 70%;
		background-size: 200% auto;
		// margin-right: 8%;

		&::before {
			content: "";
			padding-top: 100%;
			position: relative;
			display: block; 	
		}	

		.art {
			background: url(images/hero_power.png) center center no-repeat;
			width: 100%;
			position: absolute;
			background-size: contain;
			bottom: 0;
			right: 0;

			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block; 	
			}	
		}

		.game-card {
			position: absolute;
			width: 90%;
			// background-size: 200% auto;
			background-position: 50% 25%;
			left: 5%;
			top: 10%;

			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block; 	
			}	
		}

		.mana-cost {
			// background: url(images/mana.png) center center no-repeat;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 1.3em;
			color: white;
			text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
			font-weight: bold;
			text-align: center;
			line-height: 1.3em;
			width: 100%;

			&.lower-cost {
				color: #31C331;
			}

			&.higher-cost {
				color: red;
			}
		}

		&.exhausted {
			.game-card {
				background: url(images/hero_power_exhausted.png) center center no-repeat;
				background-size: 100% auto !important;
				background-position: center center !important;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			.mana-cost {
				display: none;
			}
			.art {
				display: none;
			}
		}

		&.option-on {
			-webkit-filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow) 
							drop-shadow(@glowSize @glowSize 1px @innerGlow) 
							drop-shadow(-@glowSize @glowSize 1px @innerGlow) 
							drop-shadow(@glowSize -@glowSize 1px @innerGlow) 
							drop-shadow(0px 0px 0.5em @outerGlow) 
							drop-shadow(0px 0px 0.8em @outerGlow);
			filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow) 
					drop-shadow(@glowSize @glowSize 1px @innerGlow) 
					drop-shadow(-@glowSize @glowSize 1px @innerGlow) 
					drop-shadow(@glowSize -@glowSize 1px @innerGlow)
					drop-shadow(0px 0px 0.5em @outerGlow) 
					drop-shadow(0px 0px 0.8em @outerGlow);
		}
	}

	.weapon-container {
		position: relative;
		width: 35%;
		height: auto;
		align-self: flex-end;
		margin-bottom: 0;	
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		// &::before {
		// 	content: "";
		// 	padding-top: 100%;
		// 	position: relative;
		// 	display: block; 	
		// }		
	}

	.weapon {
		position: relative;
    	width: 70%;
		background-size: 200% auto;

		&::before {
			content: "";
			padding-top: 100%;
			position: relative;
			display: block; 	
		}

		.art {
			width: 100%;
			position: absolute;
			background-size: contain;
			bottom: 0;
			right: 0;
			background-repeat: no-repeat;
			background-position: center center;

			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block; 	
			}
		}

		.game-card {
			position: absolute;
			width: 80%;
			// background-size: 200% auto;
			background-position: 50% 25%;
			background-size: 170% auto;
			left: 10%;
			top: 10%;

			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block; 	
			}	
		}

		&.sheathed .art {
			background-image: url(images/weapon_sheathed.png);
		}

		&.unsheathed .art {
			background-image: url(images/weapon_unsheathed.png);
		}

		// &.sheathed::before {
		// 	content: "";
		// 	width: 130%;
		// 	height: 130%;
		// 	background-image: url(images/weapon_sheathed.png);
		// 	display: block;
		// 	position: relative;
		// 	background-size: contain;
		// 	top: -15%;
		// 	left: -15%;
		// }

		// &.unsheathed::before {
		// 	content: "";
		// 	width: 130%;
		// 	height: 130%;
		// 	background-image: url(images/weapon_unsheathed.png);
		// 	display: block;
		// 	position: relative;
		// 	background-size: contain;
		// 	top: -15%;
		// 	left: -15%;
		// }

		.card__stats {

			.card__stats__attack {
				background: transparent;
				width: 45%;
			    bottom: 5%;
			    left: -2%;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.6em;
					font-size: 1.1em;
				}
			}

			.card__stats__health {
				width: 45%;
			    bottom: 5%;
			    left: 57%;
			    background: transparent;

				span {
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					line-height: 2.6em;
					font-size: 1.1em;
				}
			}
		}
	}

	.avatar {
		width: 29%;
		height: auto;
		background: transparent;
		align-self: flex-end;
    	position: relative;

		&::before {
			content: "";
			padding-top: 100%;
			position: relative;
			display: block; 	
		}		


		.game-card {
			border-radius: 0;
			border-top-left-radius: 60% 70%;
			border-top-right-radius: 60% 70%;
			background-position: 45% 23% !important;
			background-size: 110% auto;
    		background-repeat: no-repeat;
			width: 100%;
			height: auto;
			position: absolute;
			left: 0;
			bottom: -4%;

			&::before {
				content: "";
				padding-top: 115%;
				position: relative;
				display: block; 	
			}	
		}

		.frame {
			background: url(images/hero_frame.png) bottom left no-repeat;
			width: 125%;
			position: absolute;
			background-size: contain;
			left: 0;
			bottom: -5%;

			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block; 	
			}		
		}


		&.option-on .frame-highlight {
			-webkit-filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow) 
							drop-shadow(@glowSize @glowSize 1px @innerGlow) 
							drop-shadow(-@glowSize @glowSize 1px @innerGlow) 
							drop-shadow(@glowSize -@glowSize 1px @innerGlow) 
							drop-shadow(0px 0px 0.5em @outerGlow) 
							drop-shadow(0px 0px 0.8em @outerGlow);
			filter: drop-shadow(-@glowSize -@glowSize 1px @innerGlow) 
					drop-shadow(@glowSize @glowSize 1px @innerGlow) 
					drop-shadow(-@glowSize @glowSize 1px @innerGlow) 
					drop-shadow(@glowSize -@glowSize 1px @innerGlow)
					drop-shadow(0px 0px 0.5em @outerGlow) 
					drop-shadow(0px 0px 0.8em @outerGlow);
		}

		.health {
			position: absolute;
			font-size: 1.3em;
			line-height: 1.6em;
			bottom: -7%;
			right: -9%;
			color: white;
			text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
			font-weight: bold;
			text-align: center;
    		width: 20%;

			&.damaged {
				color: red;
			}
		}

		.card__stats__attack {
			background-image: url(images/attack.png);
		    width: 40%;
		    bottom: -7%;
		    left: -10%;

			span {
				position: absolute;
				display: inline-block;
				text-align: center;
    			top: -3%;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 3.3em;
				font-size: 1.1em;
			}
		}
	}

	.secrets {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;


		.secret {
			width: 40%;
			display: block;
			position: absolute;


			&::before {
				content: "";
				padding-top: 100%;
				position: relative;
				display: block; 	
			}		

			&.hunter {
				background: url(images/secret_question_mark.png) top left no-repeat, url(images/secret_hunter.png) top left no-repeat;
				background-size: 100%;
			}
			&.mage {
				background: url(images/secret_question_mark.png) top left no-repeat, url(images/secret_mage.png) top left no-repeat;
				background-size: 100%;
			}
			&.paladin {
				background: url(images/secret_question_mark.png) top left no-repeat, url(images/secret_paladin.png) top left no-repeat;
				background-size: 100%;
			}

			&:nth-of-type(1) {
			    left: 35%;
			    top: -35%;
			}
			&:nth-of-type(2) {
			    left: 0%;
			    top: -15%;
			}
			&:nth-of-type(3) {
			    right: -8%;
			    top: -15%;
			}
			&:nth-of-type(4) {
			    left: -15%;
			    top: 20%;
			}
			&:nth-of-type(5) {
			    right: -25%;
			    top: 20%;
			}
		}
	}

	.overlay {
		opacity: 0.5;
		border-radius: 50%;
		border-radius: 50%;

		position: absolute;

		&.frozen {
			// background-color: #66A8CE;
			background: url(images/hero_frozen.png) center center no-repeat;
			height: 163%;
		    width: 180%;
		    left: -39%;
		    top: -35%;
			background-size: contain;
		}
		&.heavily-armored {
			// background-color: #66A8CE;
			background: url(images/hero_heavily_armored.png) center center no-repeat;
			opacity: 1;
		    width: 145%;
		    height: 145%;
		    top: -25%;
		    left: -21%;
		    background-size: contain;
		}
		&.immune {
			// background-color: #66A8CE;
			background: url(images/hero_immune.png) center center no-repeat;
			opacity: 1;
		    width: 145%;
		    height: 145%;
		    top: -25%;
		    left: -21%;
		    background-size: contain;

		}
	}
}

.bottom .hero {

	height: 28%;

	.avatar {
		// margin-top: 2%;
		align-self: flex-start;
		padding-top: 2%;
	}

	.power-container {
		margin-bottom: 4%;	
	}

	.secret {

		&:nth-of-type(1) {
		    top: -25%;
		}
		&:nth-of-type(2) {
		    top: -5%;
		}
		&:nth-of-type(3) {
		    top: -5%;
		}
		&:nth-of-type(4) {
		    top: 30%;
		}
		&:nth-of-type(5) {
		    top: 30%;
		}
	}
}