.hero {
	text-align: center;
	position: relative;
	top: 30px;

	.game-card {
		display: inline-block;
		margin-right: 10px;
		// transition: transform 0.25s, top 0.5s;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		background-size: 200% auto !important;
		background-position: -32px -30px !important;

		&:last-child {
			margin-right: 0;
		}

		.damage {
			position: absolute;
			font-size: 2em;
			z-index: 1;
			color: #ffffff;
			width: 100%;
			height: 100%;
			line-height: 100%;
			left: 48px;
			top: -4px;
		}
	}

	.power {
		position: absolute;
		background-size: 200% auto !important;
		background-position: -40px -40px !important;
		left: ~"calc(50% + 40px)";
		bottom: 15px;
		width: 100px;
		height: 100px;

		.frame {
			background: url(images/hero_power.png) center center no-repeat;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    background-size: contain;
		}

		.game-card {
		    position: absolute;
		    top: 20px;
		    left: 15px;
		    background-size: 245% auto !important;
		    background-position: -46px -45px !important;
		}

		.mana-cost {
			// background: url(images/mana.png) center center no-repeat;
    		background-size: contain;
			width: 32px;
		    height: 32px;
		    position: absolute;
		    top: 0px;
		    left: ~"calc(50% - 16px)";
		    font-size: 24px;
			color: white;
			text-shadow: 0 0 10px black;
			font-weight: bold;
			text-align: center;
			line-height: 32px;
		}

		&.exhausted {
			.game-card {
			    background: url(images/hero_power_exhausted.png) center center no-repeat;
			    background-size: 100% auto !important;
			    background-position: center center !important;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;
			}
			.mana-cost {
				display: none;
			}
			.frame {
				display: none;
			}
		}
	}

	.weapon {
		position: absolute;
		right: ~"calc(50% + 60px)";
		background-position: -40px -40px !important;
		bottom: 0;
		bottom: 20px;
		width: 80px;
		height: 80px;

		&.sheathed {
			background-image: url(images/weapon_sheathed.png)
		}

		&.unsheathed::before {
			content: "";
		    width: 130%;
		    height: 130%;
		    background-image: url(images/weapon_unsheathed.png);
		    display: block;
		    position: relative;
		    background-size: contain;
		    top: -15%;
		    left: -15%;
		}

		.card__stats__attack {
			background: transparent;
			height: 30px;
		    width: 30px;
		    line-height: 30px;
		    left: -5px;
		    bottom: 0;
		}

		.card__stats__health {
			background: transparent;
			height: 30px;
		    width: 30px;
		    line-height: 30px;
		    left: 55px;
		    bottom: 0;
		}
	}

	.avatar {
		width: 100px;
		height: 100px;
		background: transparent;

		.game-card {
			border-radius: 0;
			border-top-left-radius: 60% 70%;
			border-top-right-radius: 60% 70%;
			background-position: -50px -50px !important;
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    left: 0;
		}

		.frame {
			background: url(images/hero_frame.png) center center no-repeat;
		    height: ~"calc(100% + 20px)";
		    width: ~"calc(100% + 40px)";
		    position: absolute;
		    left: -20px;
		    background-size: contain;
		    top: -10px;
		}


		&.option-on::before {
			content: "";
		    border: 3px solid #31C331;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			border-top-left-radius: 60% 70%;
			border-top-right-radius: 60% 70%;
		}

		.health {
			height: 42px;
		    width: 24px;
		    font-size: 20px;
		    bottom: -14px;
		    right: -6px;
    		background: transparent;
		}

		.card__stats__attack {
			bottom: -20px;
		}
	}
}