.hero {
	text-align: center;
	position: relative;

	.card {
		display: inline-block;
		margin-right: 10px;
		transition: transform 0.25s, top 0.5s;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		background-size: 200% auto !important;
		background-position: -32px -30px !important;


		&:last-child {
			margin-right: 0;
		}
	}

	.power {
		position: absolute;
		right: 180px;
	}
}

.top .hero {
	top: -10px;
}

.bottom .hero {
	top: 10px;
}