.mulligan {
	// text-align: center;
	top: 20%;
	position: absolute;
	width: 100%;
	z-index: 25;
	display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;

	.game-card {
		position: relative;
    	width: 70%;

	    &::before {
		    content: "";
		    padding-top: 148%;
		    position: relative;
		    display: block; 	
	    }	

		&:last-child {
			margin-right: 0;
		}

		.art {
			&::before {
			    content: "";
			    padding-top: 148%;
			    position: relative;
			    display: block; 	
		    }
		}

		.art.card--unknown {
   	 		width: 80%;
    		margin-left: 10%;
		}
	}

	.discarded:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: "X";
		font-size: 17em;
		color: red;
		line-height: 1.1em;
		text-align: center;
		opacity: 0.5;
	}
}

.top .mulligan .discarded:after {
	font-size: 12em;	
	line-height: 1em;
}

.bottom .mulligan {
	top: auto;

	.game-card {
		width: 30%;
	}
}