.player-name {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
	padding: 0.5%;
	padding-right: 2%;
	height: 6%;
	box-sizing: border-box;
	line-height: 1.2em;
	position: absolute;
	top: 30%;
	left: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

	// &::after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	right: -10%;
	// 	top: 0;
	// 	border-style: solid;
	// 	border-width: 1.5em 0 1.5em 1em;
	// 	border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
	// 	width: 0;
	// 	height: 0;
	// }

	&.active {
		background: rgba(64, 154, 204, 0.5);
	}

	// &.active::after {
	// 	border-color: transparent transparent transparent rgba(64, 154, 204, 0.5);
	// }
}

.bottom .player-name {
	top: auto;
	bottom: 30%;
}