// FIXME: make sure we override the already defined style
.rendered-card {
	position: relative;

	&::before {
		content: "";
		padding-top: 148%;
		position: relative;
		display: block;
	}

 	// FIXME: temporary override until we clear card.less
	img {
		display: inherit;
	}

	.art {
		width: 90%;
	    position: absolute;
		clip-path: ellipse(40% 40% at 50% 50%);

		height: auto;
	    width: 74%;
	    position: absolute;
	    left: 15%;
	    top: 7%;

	    &.card--unknown {
	    	clip-path: none;
	    }
	}

	&.minion .art {
		// clip-path: ellipse(45% 43% at 52% 49%);
    	clip-path: ellipse(40% 52% at 50% 51%);
	}

	&.spell .art {
	    clip-path: inset(6% 1% 20% -3%);
	    width: 70%;
	    left: 17%;
	    top: 10%;
	}

	&.weapon .art {
    	clip-path: ellipse(45% 45% at 50% 50%);
	}

	&.hero-card .art {
		clip-path: polygon(0% 100%, 0% 56%, 15% 19%, 50% 0%, 85% 19%, 100% 56%, 100% 100%);
	}

	.frame {
	    width: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	}

	.card-cost {
		display: flex;
		position: absolute;
		top: 8%;
		left: 1%;
		width: 24%;
		background: url(https://s3.amazonaws.com/com.zerotoheroes/plugins/hearthstone/manastorm/images/mana.png) center center no-repeat;
		background-size: contain;
		font-size: 1.3em;
		color: white;
		font-weight: bold;
		text-align: center;
		line-height: inherit;
		color: white;
		cursor: default;
		// Outline text, cf http://stackoverflow.com/questions/4919076/outline-effect-to-text
		text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;

		&::before {
			content: "";
			padding-top: 100%;
			position: relative;
			display: block;
		}

		span {
			display: inline-block;
			position: relative;
			text-align: center;
			line-height: 1em;
			margin: auto;
			padding-bottom: 13%;
		}

		&.lower-cost {
			color: #31C331;
		}

		&.higher-cost {
			color: red;
		}
	}

	.name-banner {
		width: 76%;
	    position: absolute;
	    top: 47%;
	    left: 13%;
	}

	.name-text {
		position: absolute;
	    width: 68%;
	    height: 10%;
	    left: 17%;
	    top: 50%;
	    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	    font-size: 0.4em;
	    color: white;

	    svg {
	    	overflow: visible;
	    }
	}

	&.spell .name-text {
		height: 9%;
	}

	&.weapon .name-text {
		height: 8%;
	}

	text {
		// font-size: 2.7em;
	    fill: white;
	    font-weight: bold;
	}

	.rarity {
	    position: absolute;
	    width: 20%;
	    top: 54%;
	    left: 41%;
	}

	&.hero-card .rarity {
		width: 9%;
		left: 45%;
		top: 54%;
	}

	.card-text {
	    position: absolute;
	    color: black;
	    width: 61%;
	    left: 21%;
	    height: 20%;
	    top: 66%;
	    // font-size is computed programmatically
	    font-size: initial;
	    text-align: center;
	    font-weight: 500;
	    // overflow: hidden;
	    display: flex;

	    & > span {
	    	display: flex !important;
	    	height: 100% !important;
	    }

	    p {
	    	margin: auto;
	    }

	    &.premium {
	    	color: white;
	    }
	}

	&.hero-card .card-text {
		// top: 69%;
		height: 18%;
		left: 19%;

	}

	&.weapon .card-text {
		color: white;
	}

	.race {
		position: absolute;
	    width: 50%;
	    height: 20%;
	    bottom: 0;
	    left: 27%;

	    img {
	    	width: 100%;
		    height: auto;
		    position: absolute;
		    bottom: 40%;
	    }

	    p {
		    position: absolute;
		    text-transform: capitalize;
		    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		    color: #d4d4d4;
		    font-weight: bold;
		    bottom: 47%;
		    width: 60%;
		    left: 21%;
		    text-align: center;
		    margin: 0;
		    font-size: 0.4em;
		}
	}

	.legendary-frame {
		position: absolute;
	    width: 80%;
	    left: 24%;
	    top: 1%;
	}

	.card__stats {
	    position: absolute;
	    bottom: 0;
		height: 20%;
	    width: 100%;

		.card__stats__attack {
			width: 33%;
			bottom: 1%;
			background: url(https://s3.amazonaws.com/com.zerotoheroes/plugins/hearthstone/manastorm/images/attack.png) center center no-repeat;
			background-size: contain;
			position: absolute;
		    color: white;
		    text-align: center;
		    text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
		    font-weight: bold;

		    &::before {
			    content: "";
			    padding-top: 100%;
			    position: relative;
			    display: block;
		    }

			span {
				position: absolute;
				display: inline-block;
				text-align: center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 2.6em;
				font-size: 1.1em;
			}

		    &.buff {
		    	color: #31C331;
		    }

		    &.debuff {
		    	color: red;
		    }
		}

		.card__stats__health {
			width: 33%;
			bottom: 1%;
			left: 68%;
			background: url(https://s3.amazonaws.com/com.zerotoheroes/plugins/hearthstone/manastorm/images/health_new.png) center center no-repeat;
			background-size: contain;
			position: absolute;
		    color: white;
		    text-align: center;
		    text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
		    font-weight: bold;

		    &::before {
			    content: "";
			    padding-top: 100%;
			    position: relative;
			    display: block;
		    }

			span {
				position: absolute;
				display: inline-block;
				text-align: center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 2.4em;
				font-size: 1.1em;
			}

		    &.buff {
		    	color: #31C331;
		    }
			&.damaged {
				color: red;
			}
		}

		.card__stats__armor {
		    width: 22%;
		    bottom: 12%;
		    left: 78%;
		    background: url(https://s3.amazonaws.com/com.zerotoheroes/plugins/hearthstone/manastorm/images/armor.png) center center no-repeat;
			background-size: contain;
			position: absolute;
		    color: white;
		    text-align: center;
		    text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
		    font-weight: bold;

		    &::before {
			    content: "";
			    padding-top: 100%;
			    position: relative;
			    display: block;
		    }

			span {
				position: absolute;
				display: inline-block;
				text-align: center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 1.2em;
				font-size: 1.1em;
			}

			display: none;
		}
	}

    &.weapon .card__stats__attack {
        background-image: url(https://s3.amazonaws.com/com.zerotoheroes/plugins/hearthstone/manastorm/images/card/weapon-attack.png);
        width: 24%;
	    bottom: 10%;
	    left: 4%;
    }

    &.weapon .card__stats__health {
        background-image: url(https://s3.amazonaws.com/com.zerotoheroes/plugins/hearthstone/manastorm/images/card/weapon-durability.png);
        width: 24%;
		right: 0%;
		left: auto;
    }

    &.hero-card .card__stats__attack, &.hero-card .card__stats__health {
        display: none;
    }

    &.hero-card .card__stats__armor {
        display: inherit;
    }
}
