.replay__controls {
  	width: 100%;
  	// display: table;
  	background-color: #C3AA7D;
    padding-top: 4%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 8px;
    display: flex;
    flex-wrap: wrap;
}

.replay__controls button {
	margin-right: 2px;
}

.replay__controls > div {
	// vertical-align: top;
}

.replay__controls .playback-speed {
	display: table-cell;
	width: 70px;
    text-align: right;
}

@media screen and (max-width: 500px) {
	// Controls need more space on mobile
	.replay__controls .timeline {
		display: none;
	}
}