.replay {
	display: flex;
	flex-direction: column;
	// box-sizing: border-box;
	align-items: stretch;
	flex-grow: 1;
	min-height: 0;
	min-width: 0;
}

.replay__game {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	// border-top: 1px solid @border-color;
	overflow: hidden;
	// background: rgb(209, 193, 108) url(../../image/felt.png) 50% 50% repeat;
	min-height: 0;
	min-width: 0;

	border: none;
    // background: url(images/felt.png) 50% 50% #DDB570;
    background-image: url(images/game-board-bg.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #C3AA7D;
}

.replay__controls {
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: 0;

	display: flex;
	flex-direction: row;
	min-height: 0;
	min-width: 0;
}

.replay__game > .top {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
	position: relative;
	min-height: 0;
	min-width: 0;
    display: flex;
    flex-direction: column;
}

.replay__game > .bottom {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
	position: relative;
	min-height: 0;
	min-width: 0;
    display: flex;
    flex-direction: column;
}
