.splash-reveal-container {
    width: 70%;
    margin: auto;
    margin-top: 23%;
    display: flex;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10%;
    pointer-events: auto;

    .rendered-card {
    	width: 60%;
    	left: -14%;
    	pointer-events: none;
    	font-size: 2em;

	    .card__stats.card__stats.card__stats {
	        span {
    			line-height: 3.4em;
	        }
	    }
	}

}




