.target {
	position: absolute;
	background-color: red;
  	width: 4px;
}

.target:after {
	content: '';
	display: block; 
	left: -8px;
	position: absolute;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}