.hearthstone .manastorm .external-player-container #dummy {
	padding-top: 125%;
}

@media screen and (max-width: 600px) {
	// Controls need more space on mobile
	.hearthstone .manastorm .external-player-container {
		// margin-bottom: 100px;
	}
}

@media screen and (max-width: 600px) {
	// Take more space on smaller devices because the controls take some room
	.hearthstone .manastorm .external-player-container #dummy {
		padding-top: 135%;
	}
}
@media screen and (max-width: 480px) {
	// Take more space on smaller devices because the controls take some room
	.hearthstone .manastorm .external-player-container #dummy {
		padding-top: 140%;
	}
}
@media screen and (max-width: 400px) {
	// Take more space on smaller devices because the controls take some room
	.hearthstone .manastorm .external-player-container #dummy {
		padding-top: 145%;
	}
}
@media screen and (max-width: 360px) {
	// Take more space on smaller devices because the controls take some room
	.hearthstone .manastorm .external-player-container #dummy {
		padding-top: 150%;
	}
}