.hearthstone .joustjs .external-player-container #dummy {
	padding-top: 125%;
}

@media screen and (max-width: 600px) {
	// Controls need more space on mobile
	.hearthstone .joustjs .external-player-container {
		margin-bottom: 100px;
	}
	.hearthstone .joustjs .replay__controls {
		// height: 100px;
    	padding-bottom: 100px;
	}
}