.title-bar {
  display: none;
}

.replay__game {
  border: none;
  background: #DDB570 url(images/felt.png) 50% 50% repeat;
  padding-bottom: 80px;
}

.replay__controls {
  position: absolute;
  bottom: 0;
  background: transparent;
  width: 100%;
  display: table;
}

.deck {
  background: url(images/cardback.jpg) top left no-repeat;
  background-size: cover;
}

.card {
  background: url(images/cardback.jpg) top left no-repeat;
  background-size: cover;
}

.bottom .hand > .card:hover {
  transform: scale(2);
}

.scrubber {
  display: none;
}

.mana {
  background: url(images/mana.png) center center no-repeat;
}

.health {
  background: url(images/health.png) 50% 50% no-repeat;
}

.btn-group {
  width: 140px;
  display: table-cell;
}