.title-bar {
  display: none;
}

.replay__game {
  border: none;
  background: #DDB570 url(images/felt.png) 50% 50% repeat;
}

.replay__controls {
  width: 100%;
  display: table;
  background: #DDB570 url(images/felt.png) 50% 50% repeat;
}

.deck {
  background: url(images/cardback.jpg) top left no-repeat;
  background-size: cover;
}

.card {
  background: url(images/cardback.jpg) top left no-repeat;
  background-size: cover;
}

.hand {
  top: -80px;
}

.bottom .hand {
  top: auto;
  bottom: -60px;
}

.bottom .hand > .card:hover {
  transform: translateY(-60px) scale(2);
}

.board {
  position: relative;
  height: 78px;
}

.top .board {
  top: 140px;
}

.bottom .board {
  top: 0;
}

.scrubber {
  display: none;
}

.mana {
  background: url(images/mana.png) center center no-repeat;
}

.health {
  background: url(images/health.png) 50% 50% no-repeat;
}

.btn-group {
  width: 200px;
  display: table-cell;
}